* {
	margin: 0;
	padding: 0;
}

body {
	overflow: auto;
}

/*Main block for all pages*/
#main_block {
	width: 1259px;
	min-height: 1000px;
	margin: auto;
	box-shadow: 0 0 10px rgba(0, 0, 0, 1);
	font-size: 14pt;
}

/*Header TODO*/
#header {
	margin-bottom: 10px;
	border-radius: 5px;
	text-align: center;
	background: linear-gradient(to top, #5CD6FF, #D6F5FF);
	height: 100pt;
}

/*Footer TODO*/
#footer {
	margin-top: 10px;
	border-radius: 5px;
	text-align: center;
	background: linear-gradient(to right, #363636, #9C9C9C);
	height: 50pt;
	border-radius: 5px;
}

/*Login block. Log in and log out*/
#login {
	width: 1239px;
	height: 25px;
}

.login_block {
	width: 200px;
	height: 25px;
	float: right;
}

.login_block ul {
	list-style: none;
}

.login_block ul li {
	padding-left: 20px;
	float: left;
}

.login_block ul li a {
	text-decoration: none;
	color: black;
}

.login_block ul li a:hover {
	color: red;
}

/*Div over other div with login*/
#enter {
	display: none;
	position: absolute;
	border-radius: 15px;
	background: #E0E0E0;
	z-index: 100;
	height: 150px;
	margin-left: 1000px;
	padding: 10px;
}

#enter input {
	width: 200px;
	height: 30px;
	border-radius: 15px;
	font-size: 16pt;
	text-align: center;
}

/*Registration block*/
#registration_block {
	display: none;
	position:absolute;
	z-index: 1000;
	background: rgba(0, 0, 0, 1);
	left: 0%;
	top: 0%;
	width: 100%;
	min-height: 225%;
}

#registration {
	background: white;
	margin: 5% auto;
	padding: 10px;
	width: 400px;
	height: 500px;
	border-radius: 15px;
}

#registrate{
	font-family: Monotype Corsiva;
	text-decoration: none;
	color: black;
}

#close_reg img{
	text-decoration: none;
	color: black;
	margin-left: 370px; 
	width: 25px;
	height: 25px;
}

/*Search block on site*/
#search {
	padding: 10px;
}

#search input {
	width: 800px;
	height: 30px;
	font-size: 16pt;
}

/*Menu*/
#menu_block {
	display: inline-block;
	border: 1pt solid black;
	width: 1259px;
	height: 50px;
	background: black;
	border-radius: 5px;
	color: white;
	background: black;
	z-index: 1000;
}

#menu_block ul {
	margin: 7px;
	padding: 0;
	list-style: none;
}

#menu_block ul li {
	float: left;
	width: 150px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

#menu_block ul li a {
	text-decoration: none;
	color: white;
}

#menu_block ul li a:hover {
	color: red;
}

#menu_block ul li li {
	display: none;
	margin: 0px;
	padding: 10px;
	background: black;
	text-decoration: none;
	text-align: center;
	background: black;
	z-index: 10;
}

#menu_block ul li li:hover {
	background: #0D1112;
}

/*Window on all pages*/
#window {
	margin-top: 5px;
	min-height: 1000px;
}

/*PRODUCTS LIST*/
#products_list {
	height: 1000px;
	border-top: 1pt solid gray;
	border-right: 1pt solid gray;
	float: left;
}

#product {
	width: 1000px;
	margin-top: 25px;
	margin-left: 25px;
}

#product table img {
	width: 200px;
	height: 150px;
}

#product table tr {
	height: 50px;
}

#product table tr td a {
	text-decoration: none;
	color: black;
}

#product table tr td a:hover {
	color: red;
}

/*SEARCH CRITERIA*/
#search_criteria {
	word-wrap: break-word;
	border-top: 1pt solid gray;
	width: 230px;
	float: left;
}

#manufacturer_list {
	width: 200px;
	margin: 5px;
}

#price {
	margin: 5px;
}

.price {
	width: 125px;
	height: 30px;
	font-size: 14pt;
}

#year {
	margin: 5px;
}

.year {
	width: 125px;
	height: 30px;
	font-size: 14pt;
}

/*Style for image*/
.thumbs img {
	border: solid 1px #ccc;
	width: 70px;
	height: 50px;
	padding: 4px;
}

#largeImg {
	width: 450px;
	height: 300px;
}

.thumbs img:hover {
	border-color: #FF9900;
}

#product_image {
	float: left;
	border: 1pt solid black;
}